---
import type {ComponentProps} from 'astro/types';
import {Image} from '@datocms/astro';
import type {ClassValue, ImageAssetData} from "../component.types";

interface Props extends Omit<ComponentProps<typeof Image>, 'data'> {
  data: ImageAssetData;
  class?: ClassValue;
}

const {data, class: classNames, ...rest } = Astro.props;
---

<div class="image-asset" class:list={classNames}>
  <!-- @see https://github.com/datocms/astro-datocms/tree/main/src/Image -->
  {data.responsiveImage &&
    <Image data={data.responsiveImage} {...rest}/>}
</div>

<style lang="scss">
  .image-asset {
    display: inline-block;
    width: 100%;

    :global(img) {
      max-width: none !important; // We need to trump this for our fluid approach
    }
  }
</style>
