---
import {type DastroTypes} from "../../lib-types.ts";

interface Props<T extends DastroTypes> {
  // "record" is passed in when using inside StructuredText
  record: T['RecordLinkFragment'];
  target?: string;
  linkTitle?: string;
  class?: string;
}

const {
  record,
  target = '_self',
  class: classNames,
  linkTitle = '',
  ...rest
} = Astro.props;

const { resolveRecordUrl } = Astro.locals.dastro.routing();
---

{
  record?.__typename && (
    <a
      class="link"
      class:list={classNames}
      data-astro-prefetch
      href={resolveRecordUrl(record, Astro.locals.locale)}
      target={target}
      title={linkTitle}
      {...rest}
    >
      <slot>{record.title || 'Untitled'}</slot>
    </a>
  )
}
