---
import { type DastroTypes } from '../../core/lib-types.ts';
import type { ClassValue } from '../component.types.ts';

export interface Props<T extends DastroTypes = DastroTypes> {
  // "record" is passed in when using inside StructuredText
  record: T['RecordLinkFragment'];
  id?: string;
  target?: string;
  linkTitle?: string;
  class?: ClassValue;

  [key: string]: unknown;
}

const {
  record,
  id,
  target = '_self',
  class: classNames,
  linkTitle = '',
  ...rest
} = Astro.props;

const { resolveRecordUrl } = Astro.locals.dastro.routing();
---

{
  record?.__typename && (
    <a
      id={id}
      class="link"
      class:list={classNames}
      data-astro-prefetch
      href={resolveRecordUrl(record, Astro.locals.locale)}
      target={target}
      title={linkTitle}
      data-datocms-content-link-boundary
      {...rest}
    >
      <slot>{record.title || 'Untitled'}</slot>
    </a>
  )
}
